.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6% 0px 6%;
    height: 60px;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 100;
}


.navbar_menus_container {
    display: flex;
    align-items: center;
    gap: 10px;
}