@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

:root {
  --lightModetextColor: #181A18;
  --darkModetextColor: #fff;
  --greenTextColor: rgb(14, 203, 129);
  --greenBgColor: rgb(14, 203, 129);
  --redTextColor: rgb(246, 70, 93);
  --redBgColor: rgb(246, 70, 93);
  --darkModeBgColor: #181A20;
  --lightModeBgColor: #FFFFFF;
  --blackColor: #222222;
  --grayColor: #808080;
  --graySmooth: #bbbbbb;
  --shadow: rgba(42, 42, 84, 0.279) 0 2px 16px 0;
  --backgrounG: rgba(209, 212, 217, 0.28);
  --white: #fff;
  --softGray: #e7e7ea;
  --sansSarif: sans-serif;
  --monrope: 'Manrope', sans-serif;
  --fontSize8: 8px;
  --fontSize10: 10px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize15: 15px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize22: 22px;
  --fontSize24: 24px;
  --fontSize26: 26px;
}


body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--monrope);
  color: var(--lightModetextColor);
  background-color: var(--lightModeBgColor);
}

p {
  /* color: var(--lightModetextColor); */
}

/* p,
h1 {
  margin: 0%;
  letter-spacing: 0.5px;
} */
.dark-mode {
  color: var(--darkModetextColor);
  background-color: var(--darkModeBgColor);
}

.page_container {
  width: 100%;
  display: flex;
}

.page_content {
  width: calc(100vw - 220px);
  margin-left: 210px;
  /* box-shadow: var(--shadow); */
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: calc(100vh - 80px);
}

.page_crud_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


.page_content_inner {
  box-shadow: var(--shadow);
  padding: 10px;
  margin-top: 10px;
}

.text_class_dark {
  color: var(--darkModetextColor);
}

.text_class_light {
  color: var(--grayColor);
}

.table_container {
  width: 100%;
  /* background-color: white; */
  margin-top: 10px;
  overflow-x:auto;
  /* border: 1px solid black; */
}

.table_coloumns {
  font-size: var(--fontSize12);
  /* padding: 10px !important; */
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: var(--lightModeBgColor);
  /* color: var(--grayColor); */
  font-family: var(--monrope);
  font-size: var(--fontSize12);
  font-weight: 500;
  /* padding: 10px; */
}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--container-background);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 700px) {
  .page_content {
    width: 100%;
    margin-left: 0px;
    /* margin: 10px; */
  }
}